In [1]:
import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Revenue Growth Factor: 18% of prior period Revenue
EBITDA Margin: 45.0% of current Revenue
Taxes: 21% of current EDBITDA
Capital Expenditures: 3% of current Revenue
Working Capital Increase: 6% of Revenue
EBITDA Exit Multiple: 32.70
Discount Factor: 0.94 (6%).

In [2]:
years = pandas.date_range(start ='2022',end ='2032', freq='Y').year
years

Int64Index([2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031], dtype='int64')

In [3]:
df =pd.DataFrame(columns = ["Revenue", "EBITDA", "Taxes","Capital Expenditure", "Working Capital","Cash Flow", "Discount Factor",
                            "Present Value Free Cash Flow"]
                 , index= years)
df.loc[2022,"Revenue"] = 222 * (1 + 0.18)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

for i in range (1, len(df)):
    df.iloc[i]["Revenue"] = df.iloc[i -1]["Revenue"] * (1 + 0.18)

In [5]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,309.1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,364.753104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,430.408663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,507.882222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,599.301022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,707.175206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,834.466743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030,984.670757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,1161.911493,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df["EBITDA"] =df ["Revenue"] * 0.45

In [7]:
df["Taxes"] = -df ["EBITDA"] * 0.21

In [8]:
df["Capital Expenditure"] = -df ["Revenue"] * 0.03

In [9]:
df["Working Capital"] = -df ["Revenue"] * 0.06

In [10]:
df["Cash Flow"] = df["EBITDA"] + df["Taxes"] + df["Capital Expenditure"] + df["Working Capital"]

In [11]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,NaN,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,NaN,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,NaN,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,NaN,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,NaN,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,NaN,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,NaN,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,NaN,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,NaN,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,NaN,NaN

In [38]:
df.iloc[0]["Discount Factor"]= 0.94
for i in range(1,len(df)):
  
    df.iloc[i]["Discount Factor"] = (1 + 0.06) ** -(i +1)

In [39]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.94,69.55038
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.889996,77.695166
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.839619,86.793758
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.792094,96.957853
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.747258,108.312226
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.704961,120.996268
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.665057,135.165692
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.627412,150.994443
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.591898,168.676841
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.558395,188.429959

In [24]:
df["Present Value Free Cash Flow"] = df["Cash Flow"] * df["Discount Factor"]

In [25]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,1.0,69.55038
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.9467,77.695166
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.896241,86.793758
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.848472,96.957853
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.803249,108.312226
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.760436,120.996268
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.719905,135.165692
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.681534,150.994443
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.645208,168.676841
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.610819,188.429959

In [15]:
revenue_2032 = df.loc[2031, "Revenue"] * 1.18
ebitda_2032 = revenue_2032 * 0.45
terminal_value = ebitda_2032 * 32.70

In [26]:
message = f"""
Our projected Present Value of Projected Future Cash Flows are:"Present Value Free Cash Flow".


We are providing revenue guidance in 2032 to be: {revenue_2032}.

With an estimated EBITDA around: {ebitda_2032}.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: {terminal_value}.

"""

In [27]:
print(message)

Our projected Present Value of Projected Future Cash Flows are:"Present Value Free Cash Flow".


We are providing revenue guidance in 2032 to be: 1371.055561673072.

With an estimated EBITDA around: 616.9750027528823.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: 20175.082590019254.